* {
    margin: 0;
    padding: 0;
}

body {
    margin: 5px 160px;
    background-color: #e1e0e080;
    /* color: #0E0E0E; */
}

/* shard style */

.btn-primary {
    background-color: #006A50;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    padding: 17px 34px;
    margin-top: 20px;
    border-style: none;
}

.suptittle {

    font-size: 16px;
    font-weight: 400;
    /* color: #0E0E0EB3; */
    color: #0E0E0E80;
}

/* nav section */
.nav-container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    /* padding: 24px 160px 24px 160px; */

}

.ban {
    font-size: 32px;
    font-weight: 700;
}

/* banner style */

.banner-tittle {
    /* border: 2px solid red; */
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E80;
    /* line-height: 34px; */
}

.banner-subtittle {
    /* border: 2px solid red; */
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
    /* line-height: 67px; */
    /* width:622px;
    height:201px; */
}


.banner-containar {
    background-color: #C6E4D6;
    margin-top: 24px;
    padding: 50px;
    border-radius: 15px;
    /* height: 672px; */
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.banner-pic {
    width: 569px;
    height: 395px;

}

/* vision-containar */

.container {
    margin-top: 70px;

}

.tittle {
    font-size: 40px;
    font-weight: 700;
    color: #0E0E0E;
}



.vision-card {
    width: 330px;
    height: 240px;
    border-radius: 8px;
    /* margin-top: 20px; */
    padding: 24px;
    background-color: #5490F533;
    /* gap: 5px; */
    /* border: 2px solid red; */
}

.vision-card-2 {
    width: 330px;
    height: 240px;
    border-radius: 8px;
    /* margin-top: 20px; */
    padding: 24px;
    background-color: #C6E4D6;
}

.vision-card-3 {
    width: 330px;
    height: 240px;
    border-radius: 8px;
    /* margin-top: 20px; */
    padding: 24px;
    background-color: #F7EBCF;
}


.card-tittle {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0ECC;
}

.card-subtittle {
    margin-top: 10px;
}

.card-btn {
    margin-top: 16px;
    padding: 7px 15px;
    background-color: #5490F5;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.card-btn-2 {
    margin-top: 16px;
    padding: 7px 15px;
    background-color: #09A15C;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.card-btn-3 {
    margin-top: 16px;
    padding: 7px 15px;
    background-color: #FFC239;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.card-container {
    /* margin: 0; */
    /* gap: 5px; */
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}

.card-3 {
    background-color: #F7EBCF;
}

/* resent news  */

.news-card {
    display: flex;
    padding: 48px;
    margin-top: 24px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    /* border: 2px solid red; */
    /* justify-content: center; */
    /* justify-items: center; */
    /* text-align: center; */
}

.news-card-2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 48px;
    margin-top: 24px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    /* border: 2px solid red; */
    /* justify-content: center; */
    /* justify-items: center; */
    /* text-align: center; */
}

.news-pic {
    border-radius: 16px;
    margin-right: 24px;
    width: 350px;
    height: 250px;
}

.news-pic-reverse {
    border-radius: 16px;
    margin-left: 24px;
    width: 350px;
    height: 250px;
}

.news-despription {
    padding-top: 10px;
    /* margin-top: ; */
}

.news-tittle {
    font-size: 24px;
    font-weight: 700;
}

.news-pic-2 {
    width: 100px;
    height: 30px;
    margin-top: 7px;
}

.date-time {
    display: flex;
    gap: 10px;
    margin-top: 8px;
    margin-bottom: 12px;
}

/* Donate section */

.Donate {
    text-align: center;
    margin-top: 70px;
    padding: 0px 80px;
}

.Donate-money {
    font-size: 30px;
    font-weight: 700;
    border-radius: 7px;
    padding: 30px;
    background: rgb(255, 255, 255);
}

.Donate-money-2 {
    font-size: 30px;
    font-weight: 700;
    border-radius: 7px;
    padding: 30px;
    background: #C6E4D6;
}

.Donate-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 25px;
    /* justify-content: space-evenly; */
}

/* .Donate-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.Donate-input {
    text-align: center;
    width: 650px;
    margin-top: 15px;
    padding: 15px 5px;
    border-style: none;
    border-radius: 3px;
    color: #0E0E0E4D;
    font-size: 12px;
    font-weight: 400;
}

.Newsletter {
    text-align: center;
    margin-top: 70px;
    background-color: #C6E4D6;
    height: 280px;
    padding: 120px 50px;
    /* margin: auto; */
    /* justify-content: center; */
    /* justify-items: center; */
    border-radius: 15px;

}

.news-btn-input {
    /* margin-top: 8px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: center; */
    /* justify-items:center; */
}


.newsletter-input {
    width: 500px;
    height: 45px;
    margin-top: 20px;
    border-style: none;
    padding: 5px;
    border-radius: 8px 0 0 8px;
}

.spam {
    margin-top: 16px;
}


/* Dr. Muhammad Yunus */

.Yunus {
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 20px 15px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-top: 20px;
    padding: 30px 20px;
    /* width:100px;
    height: 50px; */
}

.nobel {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 2px;
}







.all-btn:hover {
    background-color: blueviolet;
}

.all-money:hover {
    background-color: rgb(28, 232, 89);
}

.all-card:hover {
    background-color: aqua;
}